<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Call Data</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Call Data</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Filename</th>
                    <th>Date</th>
                    <th>Call Type</th>
                    <th>Agent Name</th>
                    <th>Duration</th>
                    <th>Processed Duration</th>
                </tr>
            </thead>
            <tbody>
                {% for record in records %}
                <tr>
                    <td><a href="{{ url_for('call_data', filename=record['Filename']) }}">{{ record['Filename'] }}</a></td>
                    <td>{{ record['Date'] }}</td>
                    <td>{{ record['call_type'] }}</td>
                    <td>{{ record['agent_name'] }}</td>
                    <td>{{ record['Call_Duration'] }}</td>
                    <td>{{ record['Processed_Audio_Duration'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>